{% extends 'broker/base.html' %}
{% block content %}
        
                <div class='jumbotron' >
                        <div class="col-sm-8" style="width: 18rem; float: right; padding-bottom: 700px; ">
                                <img class="card-img-top" src="{{ broker.profile_pic.url }}" alt="Card image cap" >
                        </div>
                        <div>
                                <div class="form-group row">
                                        <label  class="col-sm-2 col-form-label">Username:</label>
                                        <div class="col-sm-2">
                                                <textarea" readonly class="form-control-plaintext"  >{{broker.user.username}}</textarea>
                                                <!-- <input type="text" readonly class="form-control-plaintext"  value="{{broker.user.username}}"> -->
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                              <label  class="col-sm-2 col-form-label">Firstname:</label>
                                              <div class="col-sm-2">
                                                <textarea" readonly class="form-control-plaintext"  >{{broker.firstname}}</textarea>
                                                <!-- <input type="text" readonly class="form-control-plaintext"  value="{{broker.firstname}}"> -->
                                              </div>
                                      </div>
                                      <div class="form-group row">
                                              <label  class="col-sm-2 col-form-label">Lastname:</label>
                                              <div class="col-sm-2">
                                                <textarea" readonly class="form-control-plaintext"  >{{broker.lastname}}</textarea>
                                                <!-- <input type="text" readonly class="form-control-plaintext"  value="{{broker.lastname}}"> -->
                                              </div>
                                            </div>
                                      <div class="form-group row">
                                        <label  class="col-sm-2 col-form-label">City:</label>
                                        <div class="col-sm-2">
                                                <textarea" readonly class="form-control-plaintext"  >{{broker.city}}</textarea>
                                          <!-- <input type="text" readonly class="form-control-plaintext"  value="{{broker.city}}"> -->
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                              <label  class="col-sm-2 col-form-label">Location:</label>
                                              <div class="col-sm-2">
                                                <textarea" readonly class="form-control-plaintext"  >{{broker.location}}</textarea>
                                                <!-- <input type="text" readonly class="form-control-plaintext"  value="{{broker.location}}"> -->
                                              </div>
                                      </div>
                                      <div class="form-group row">
                                        <label  class="col-sm-2 col-form-label">Department:</label>
                                        <div class="col-sm-2">
                                                <textarea" readonly class="form-control-plaintext"  >{{broker.department_name}}</textarea>
                                          <!-- <input type="text" readonly class="form-control-plaintext"  value="{{broker.department_name}}"> -->
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                              <label class="col-sm-2 col-form-label">Phonenumber:</label>
                                              <div class="col-sm-2">
                                                <textarea" readonly class="form-control-plaintext"  >{{broker.user.phone_number}}</textarea>
                                                <!-- <input type="text" readonly class="form-control-plaintext"  value="{{broker.user.phone_number}}"> -->
                                              </div>
                                            </div>
                                      <div class="form-group row">
                                        <label  class="col-sm-2 col-form-label">Email:</label>
                                        <div class="col-sm-2">
                                                <textarea" readonly class="form-control-plaintext"  >{{broker.user.email}}</textarea>
                                          <!-- <input type="text" readonly class="form-control-plaintext"  value="{{broker.user.email}}"> -->
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                              <label  class="col-sm-2 col-form-label">Working days:</label>
                                              <div class="col-sm-6">
                                                <textarea" readonly class="form-control-plaintext"  >{% for o in broker.work %} {{o}}  {% endfor %}</textarea>
                                              </div>
                                            </div>
                                      <div class="form-group row">
                                        <label  class="col-sm-2 col-form-label">Rating:</label>
                                        <div class="col-sm-2">
                                                <input type="text" readonly class="form-control-plaintext"  value="{{broker.avg_rating}} given by {{broker.rated_cust}}">
                                              </div>
                                        </div>
                                        <div class="col-sm-2">
                          
                                                <centre><a href="{% url 'accounts:brokerprofileedit' %}"><button class="btn btn-dark" >edit</button></a></centre>
                                              </div>
        
                </div>
{% endblock %}